<mat-card>
    <mat-card-content>
    <ng-container *ngIf="details">
        <div class="film-details">
            <div class="row">
                <label>Title: </label>
                <span>{{details?.title}}</span>
            </div>
            <div class="row">
                <label>Director:</label>
                <span>{{details?.director}}</span>
            </div>
            <div class="row">
                <label>Producer:</label>
                <span>{{details?.producer}}</span>
            </div>
            <div class="row">
                <div class="col-6">
                    <label>Planet Count:</label>
                    <span>{{details?.planets?.length}}</span>
                </div>
                <div class="col-6">
                    <label>Starship count:</label>
                    <span>{{details?.starships?.length}}</span>
                </div>
            </div>
        </div>
    </ng-container>
    </mat-card-content>
</mat-card>
    <app-films-character-list></app-films-character-list>